@import "./typography";
@import "./variables";
@import "./button";

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  overscroll-behavior: none;
}
body {
  background: $light-gray2;
  color: $dark-gray;
}
